body {
  margin: 0;
}

.flex-row {
  display: flex;
  min-height: 100vh;
}

.side-bar {
  background: url("https://i.imgur.com/wMCrFBQ.jpg") center;
  border-right: 5px solid #333333;
  color: #333333;
  width: 30vw;
}

.main {
  text-align: center;
}