nav { 
  display: flex;
  padding: 30px 30px;
  margin: 10px;
  background-color: lavender;
  font-family:'Courier New', Courier, monospace;
  font-size: x-large;
  flex-direction: row;
  justify-content: space-around; 
  font-style: arial;
  font-weight: bolder;
  color: black;
  align-content: center;
  border-radius: 20px;
} 


.body {background-color: #FFFFFF;
  margin: 0px;
  display: flex; 
  grid-template-columns: 2fr 100px;
  grid-template-rows: 60px 1fr 70px;
  /* grid-gap: 5px; */
    /* height: 100vh; */

}
/* .flex-row {
  display: flex;
  min-height: 100vh;
} */


.main {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  flex: 1;
  text-align: center;
  color: black;
  margin: 1px;
  /* justify-content: space-around; */
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
    /* display: grid;
     /* align-items: flex-start; */
/* grid-template-columns: 30% 30% 30%;
  grid-area: 5/10/15;  */
  /* grid-template-rows: 20% 20% 20% 20% 20%; */
}

.side-bar  
{ border-right: 200px solid lightblue;
  color: black;
  width: 0px;
  background: center;
  text-align: left;
  font-size: large;
  padding: 0px;
  border-radius: 20px;
  opacity: 100%;
  font-family:'Courier New', Courier;
}

.dog-info {
  border: 4px solid #333333;
  box-shadow: 1px 1px 5px #969696;
  width: 80%;
  height: 10%;
  /* height: 500px; */
  margin: 1.5em auto;
  padding: 50px;
  border-radius: 20px;
  background-color: lightgrey;
  text-align: center;
  align-items: center;
}

.img {
  display: block;
  /* max-width: 100px; */
  /* max-height: 100px; */
  max-height: 50%;
  max-width: 10%;
  margin: 50px;
  padding: 100px;
  border-radius: 20px;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

 .rating {
  background-color: lavender;
  color: black;
  align-items: center;
  padding: 5px;
  margin: 30px;
  display: flexbox;
  font-size: medium;
  border-radius: 20px;
  justify-content: space-evenly;
  align-content: center;
} 